doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/assets/css/styles.css")
    body 
        form(action="/login/join/check", method="POST") 
            div
                input(type="email" name="email" id="email" placeholder="이메일" required)
            div
                input(type="password" name="password" id="email" placeholder="비밀번호" required)
            div
                input(type="name" name="name" id="name" placeholder="이름" required)
            div 
                input(type="number" name="phoneNumber" id="phoneNumber" placeholder="전화번호")

            input(type="submit" value="로그인")