doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/assets/css/styles.css")
    body 
        form(action="/login/join/check", method="POST")
            div.info
                div.name
                    div.firstName 
                        input(type="name" name="firstName" id="FisrtName" placeholder="성" required)
                    div.lastName
                        input(type="name" name="lastName" id="lastName" placeholder="이름" required)
                div.gender
                    select(name="gender")
                        option(value="남성") 남성 
                        option(value="여성") 여성  
                div.email    
                    div.frontEmail
                        label(htmlFor="frontEmail")   
                        input(type="email" name="frontEmail" id="frontEmail" placeholder="이메일" required)
                    div.behindEmail 
                        select(name="behindEmail")
                            option(value="@gmail.com") @gmail.com
                            option(value="@naver.com") @naver.com
                            option(value="@nate.com") @nate.com
                            option(value="@hanmail.net") @hanmail.net
                div.password
                    label(htmlFor="password")
                    input(type="password" name="password" id="password" placeholder="비밀번호" required)
                div.phonenum
                    label(htmlFor="phonenum")
                    input(type="text" name="phoneNumber" id="phoneNumber" placeholder="XXX-XXXX-XXXX")

                input(type="submit" value="회원가입")