doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/styles.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        title Document
    body 
        .bg
            .bg1
                .header1 
                    .logo
                        a(href="/") Liebe 
                    .search
                        .search-box
                            input.search-txt(type="text" placeholder="'Search for the product you want'")
                            a.search-btn(href="#")
                                i(class="fas fa-search" )
                    .brand 
                        a(href="#") brand
                    
                    .event 
                        a(href="#")
                            i(class="fas fa-bell")
                    .basket 
                        a(href="#")
                            i(class="fas fa-shopping-cart" )
                    .login
                        a(href="/login") Sign In
                        br
                        a(href="/login/join") Sign Up

        .keyword_txt 
            p KEYWORD
        .keyword
            .filter(style="overflow:scroll; width=350px; height=200px;")
                .first
                    a(href="#").clothes
                        img(src="https://images.unsplash.com/photo-1560060141-7b9018741ced?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1479&q=80" width="450px")
                        .clo_txt
                            p Clothes
                    
                    a(href="#").jewelry
                        img(src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" width="450px")
                        .jewelry_txt
                            p jewelry

                    a(href="#").shoes
                        img(src="https://images.unsplash.com/photo-1610398752800-146f269dfcc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" width="450px")
                        .shoes_txt
                            p shoes
                .sec
                    a(href="#").makeup
                        img(src="https://images.unsplash.com/photo-1512496015851-a90fb38ba796?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80" width="450px")
                        .makeup_txt
                            p Make_up

                    a(href="#").homedecor
                        img(src="https://images.unsplash.com/photo-1618220179428-22790b461013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aG9tZSUyMGludGVyaW9yfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" width="450px")
                        .homedecor_txt
                            p homedecor

                    a(href="#").accessory
                        img(src="https://images.unsplash.com/photo-1492707892479-7bc8d5a4ee93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1065&q=80" width="450px")
                        .accessory_txt
                            p accessory
                .thr
                    .just

           
           
