doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/styles.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        title Document
    body 
        .bg
            .bg1
                .header1 
                    .logo
                        a(href="/") Liebe 
                    .search
                        .search-box
                            input.search-txt(type="text" placeholder="'Search for the product you want'")
                            a.search-btn(href="#")
                                i(class="fas fa-search" )
                    .brand 
                        a(href="#") brand
                    
                    .event 
                        a(href="#")
                            i(class="fas fa-bell")
                    .basket 
                        a(href="#")
                            i(class="fas fa-shopping-cart" )
                    .login
                        a(href="/login") Sign In
                        br
                        a(href="/login/join") Sign Up

        .keyword
