.header1{
    width: 100%;
    height: 100px;

    background-color: antiquewhite;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.logo{
    width: 10%;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo a{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration-line: none;
    color: rgb(84, 100, 119);

   
}

.login{
    width: 20%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.login a{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-decoration-line: none;
    color: rgb(84, 100, 119);

    margin: 0px 10px 0px 10px;

   
}