doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=`, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/assets/css/styles.css")
    body 
        header.header 
            a(href="/login") 로그인
            a(href="/login/join") 회원가입
        block content